<h2 mat-dialog-title>Add post</h2>
<mat-dialog-content [formGroup]="addPostForm">
  <mat-form-field appearance="outline">
    <mat-label for="title"> Post title: </mat-label>
    <input matInput name="title" type="text" formControlName="title" placeholder=" Describe the post subject" required>
  </mat-form-field>
  <label for="body">
    <jodit-editor name="body" formControlName="body" #editor [config]="{
            uploader: { insertImageAsBase64URI: 'true' },
            buttons: 'font,fontsize,brush,paragraph,bold,strikethrough,underline,italic,|,superscript,subscript,|,ul,ol,hr,paragraph,|,align,undo,redo,|,selectall,cut,copy,paste,copyformat'
            }">
    </jodit-editor>
  </label>
  <mat-dialog-actions>
    <button button mat-raised-button color="primary" [disabled]="!addPostForm.valid" (click)="save()">Add</button>
  </mat-dialog-actions>
</mat-dialog-content>