
<div *ngFor="let post of posts">
  <mat-card>{{post.title}}</mat-card>
</div>

<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <label> Comment:</label>
  <jodit-editor formControlName="message" #editor  [config]="{
          uploader: { insertImageAsBase64URI: 'true' },
          buttons: 'font,fontsize,brush,paragraph,bold,strikethrough,underline,italic,|,superscript,subscript,|,ul,ol,hr,paragraph,|,align,undo,redo,|,selectall,cut,copy,paste,copyformat'
          }">   
  </jodit-editor>
  <button type="submit" [disabled]="!commentForm.valid">Submit</button>
</form>

