<h1>Welcome to DevDino forum</h1>
<div *ngIf="!enterForum">
  <label> Enter Your NickName:</label>
  <input type="text" [(ngModel)]="userName">
  <button (click)="updateName()">Sign in</button>
</div>
<div *ngIf="enterForum">
  <h3>Welcome {{this.userName}}</h3>
  <h3>DevDino Posts</h3>
  <button mat-button (click)="openAddPostsDialog()">Add Post</button>
  <div class="postsCards" *ngFor="let post of posts">
    <mat-card>
      <mat-card-title>Post title: {{post.title}}</mat-card-title>
      <mat-card-content>
        <div [innerHTML]=" sanitizeMessage(post.body)"></div> {{post.userName}} : {{post.date}}
      </mat-card-content>
      <mat-card-footer>
        <div *ngIf="post.comments">
          <h4>Comments</h4>
          <button mat-button (click)="openAddCommentToPostDialog(post._id)">Add Comment</button>
          <div *ngFor="let comment of post.comments">
            <p>{{comment.userName}}: {{comment.date}}</p>
            <div [innerHTML]=" sanitizeMessage(comment.message)"></div>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>